:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;

    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);

    /* --size-bezel: .5rem;
    --size-radius: 4px; */

    line-height: 1.4;

    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    /* padding: 0 calc(var(--size-bezel) * 3); */
}

::-webkit-scrollbar {
    width: 0.5vw;
    background-color: grey;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-background);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #b30000; */
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 !important;
    margin-bottom: 10% !important;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.mainContainer {
    /* height: 90vh; */
    /* margin-bottom: 2vh; */
    /* height: 110vh; */
    /* margin-bottom: 15%; */
}

.customForm {
    /* background-color: #dac2f3; */
    position: absolute;
    top: 12%;
    background: var(--color-background);
    /* padding: calc(4 * var(--size-bezel)); */
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

    /* margin-top: calc(4 * var(--size-bezel)); */
    /* margin-top: 15px; */
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    max-width: 30%;
    width: 30%;
    height: 75%;
    max-height: 75%;
    float: left;
    left: 10%;
}

.emptySpace {
    height: 2.5%;
}

.input {
    position: relative;
}

.input__label {
    position: absolute;
    left: 0;
    top: 2%;
    /* padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5); */
    padding-left: 2%;
    padding-right: 2%;
    margin: 3% 3%;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: 500;
    font-size: 80%;
    /* font-size: smaller; */
    /* line-height: 0.5; */
    /* height: 22%; */
}

.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: 2%;
    /* padding: calc(var(--size-bezel) * 1.5) var(--size-bezel); */
    color: currentColor;
    background: transparent;
    /* border-radius: 1%; */
    /* border-radius: var(--size-radius); */
    font-size: 75%;
    height: 8%;

    /* &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: var(--color-accent);
      }
    } */
}

.input__textarea {
    box-sizing: border-box;
    resize: none;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: 3px solid currentColor;
    padding: 2%;
    /* padding: calc(var(--size-bezel) * 1.5) var(--size-bezel); */
    color: currentColor;
    background: transparent;
    /* border-radius: 1%; */
    /* border-radius: var(--size-radius); */
    font-size: 75%;
    height: 15%;
    max-height: 15%;
    min-height: 15%;

    /* &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: var(--color-accent);
      }
    } */
}

textarea {
    height: 25%;

}

/* .input:focus+.input__label {
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--color-accent);

} */

.customOption {
    background-color: var(--color-text);
    color: var(--color-background);
    /* top: 100%; */
    left: 0;
    right: 0;
    z-index: 99;
}


button {
    color: currentColor;
    padding: 2%;
    /* background: var(--color-accent); */
    border: none;
    /* font-weight: 800; */
    margin-top: 2%;
    cursor: pointer;
    background-color: var(--color-text);
    color: var(--color-background);
    font-size: 75%;
    height: 7%;
}


.instructions {
    position: absolute;
    float: right;
    right: 10%;
    top: 12%;
    max-width: 30%;
    width: 30%;
    height: 75%;
    max-height: 75%;
    border-radius: 10px;
    font-size: 100%;
    background: var(--color-background);
    /* padding: calc(4 * var(--size-bezel)); */
    padding: 2%;
    /* margin-top: calc(4 * var(--size-bezel)); */
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
    /* max-width: 25%; */
    /* width: 25%; */
    /* float: left; */
    /* left: 150px; */
}

.instructionsList {
    line-height: 2;
    font-weight: 400;
}

.envelopeHelper {
    color: red;
    cursor: pointer;
}





.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    background-color: var(--color-background);
    color: var(--color-text);
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /* animation: myAnim 2s ease 0s 1 normal none; */
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}

.modal-dialog>* {
    padding: 1rem;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s linear 300ms, opacity 300ms;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.modal-footer {
    padding-bottom: 50px;
    height: fit-content;
}

.modalCloseButton {
    position: relative;
    /* margin-left: auto; */
    float: right;
    background-color: var(--color-text);
    color: var(--color-background);
}


#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 99;
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */
    /* Add a pointer on hover */
}















.pl {
    display: block;
    width: 8em;
    height: 8em;
}

.pl__ring,
.pl__ball1,
.pl__ball2 {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: 32px 32px;
}

.pl__ring {
    animation-name: ring;
}

.pl__ball1 {
    animation-name: ball1;
}

.pl__ball2 {
    animation-name: ball2;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

/* Animation */
@keyframes ring {
    from {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(135deg);
    }

    15% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -122.52;
        transform: rotate(90deg);
    }

    35% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -65.34;
        transform: rotate(297.5deg);
    }

    55% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(505deg);
    }

    70% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -122.52;
        transform: rotate(490deg);
    }

    85%,
    to {
        stroke-dashoffset: -122.52;
        transform: rotate(497.5deg);
    }
}

@keyframes ball1 {
    from {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-7deg);
    }

    60% {
        transform: rotate(399deg);
    }

    75% {
        transform: rotate(361deg);
    }

    90%,
    to {
        transform: rotate(374deg);
    }
}

@keyframes ball2 {
    from {
        transform: rotate(-21deg);
    }

    25% {
        transform: rotate(-47deg);
    }

    60% {
        transform: rotate(364deg);
    }

    75% {
        transform: rotate(326deg);
    }

    90%,
    to {
        transform: rotate(339deg);
    }
}

.doppioLogo {
    position: absolute;
    left: 10%;
    top: 5%;
    margin-top: 1%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    width: 10vw;
    height: auto;
}