.footer {
    position: fixed;
    bottom: 0px;
    /* top: 0; */
    height: 55px;
    /* margin-bottom: 500px; */
    /* margin-top: 1000px; */
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px;
    border-top: solid 2px var(--color-text);
    /* border: solid 2px var(--color-text); */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px; */
    font-size: 0.9em;
    font-weight: 400;
    /* transition: transofrm 1s; */
}

/* .footer:hover {
    transform: scale(1.1);
} */

a {
    text-decoration: none;
}

.footer>a {
    color: var(--color-text);
    text-decoration: none;
}

.footer>a:link {
    color: var(--color-text);
    text-decoration: none;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:link {
    color: var(--color-text);
    text-decoration: none;
}

a:visited {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: var(--color-text);
    text-decoration: none;
}

a:focus {
    color: var(--color-text);
    text-decoration: none;
}

a:active {
    color: var(--color-text);
    text-decoration: none;
}

.footer-left {
    position: absolute;
    float: left;
    width: fit-content;
    top: 30%;
    left: 2%;
}

.footer-center {
    position: absolute;
    margin: 0 auto;
    width: fit-content;
    top: 15%;
    left: 45%;
}

.footer-right {
    position: absolute;
    /* float: right; */
    top: 30%;
    right: 2%;
    display: inline-block;
}

.zoom {
    position: relative;
    display: inline-block;
    /* transition: transofrm 1s; */
}


.footer-feature {
    text-decoration: none;
}